* {
  text-align: center;
}

html {
  font-family: sans-serif;
}

h1 {
  background-color: black;
  padding: 20px;
  color: white;
  border-radius: 20px;
  width: 100%;
}

.info {
  padding: 40px;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 1px solid rgb(161, 0, 0);
  width: 70%;
}

.btn {
  margin: 5px;
  margin-top: 20px;
  padding: 8px;
  border-radius: 8px;
}

body {
  width: 100%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

.lastResult {
  color: white;
  padding: 3px;
}
